@import 'reset.css';

:root {
  /* COLORS */
  --black: #000000;
  --white: #FFFFFF;
  --highlight: #00FF00;
  --border-black: 1px solid var(--black);
  --border-dashed: 1px dashed var(--black);
  /* FONTS */
  --font-a: Helvetica, Arial, sans-serif;
  --font-b: Courier, monospace;
  /* SPACING */
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;

  /* TYPOGRAPHY */
  --text-01: 1.5rem;
  --text-02: 2rem;

  /* LAYOUT */
  --header-z: 100;
  --max-width: 110rem;
}

@media screen and (min-width: 900px) {
  :root {
    --text-01: 1.75rem;
    --text-02: 3rem;
  }
}
